#form-news {
    width: 100%;
    position: relative;
}

.search-block__input {
    width: 80%;
    border: 1px solid #D1D2D6;
    cursor: pointer;
    font-size: 16px;
    font-family: 'roboto-regular', sans-serif;
    padding: 21px 0 21px 24px;
    border-radius: 100px;
    background: #fff;
}

.button {
    position: absolute;
    width: 30%;
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    right: 0;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    font-family: 'roboto-regular', sans-serif;
    padding: 20px 0;
    border-radius: 100px;
    color: #fff;
    background: #2f71e5;
}

.button:hover {
    box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
    background: #347eff;
}

.button:active {
    box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #2a65cc;
}