.search__title {
    font-family: 'robotoslab';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    align-items: center;
    color: #fff;
    width: 545px;
    padding-bottom: 32px;
    margin: 0 auto;
}