.search_field {
    outline: none;
    width: 80%;
    border: 1px solid #D1D2D6;
    font-size: 16px;
    font-family: 'roboto-regular', sans-serif;
    padding: 21px 0 19px 24px;
    border-radius: 100px;
}

@media (max-width: 440px) {
    .search_field {
        width: calc(100% - 32px);
        padding: 17px 16px;
        margin-bottom: 16px;
    }
}

@media all and (min-width: 441px) and (max-width: 768px) {
    .search_field {
        padding: 17px 0 17px 24px;
    }
}