.button {
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
    font-family: 'roboto-regular', Arial, sans-serif;
    border-radius: 100px;
}

.button:hover {
    box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
}