.technologies__title {
    font-family: 'robotoslab', Arial, sans-serif;;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.15;
    max-width: 334px;
    margin-top: 40px;
}

@media (max-width: 440px) {
    .technologies__title {
        line-height: 1.33;
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .technologies__title {
        font-size: 1.87rem;
        line-height: 1.13;
    }
}