.chart_box__mention {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .4px;
    color: #b6bcbf;
    margin: 0 0 20px;
    height: 32px;
    text-transform: uppercase;
}