.author__title {
    font-family: 'robotoslab';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.15;
    color: #1a1b22;
    margin-top: 0;
    margin-bottom: 24px;
}