.header__about {
    margin-left: 34px;
    color: #b6bcbf;
}

.header__about:hover {
    color: white;
}

@media (max-width: 440px) {
    .header__about {
        font-size: 1rem;
        line-height: 1.5;
        margin-left: 0px;
        padding-bottom: 8px;
    }
}

@media all and (min-width: 441px) and (max-width: 500px) {
    .header__about {
        padding-bottom: 19px;
    }
}

@media all and (min-width: 501px) and (max-width: 768px) {
    .header__about {
        padding-bottom: 18px;
    }
}