@import url('./_image/item-wrap_image.css');
.item-wrap {
    width: 100%;
    height: 230px;
    overflow: hidden;
}

@media (max-width: 449px) {
    .item-wrap {
        height: 196px;
    }
}

@media (max-width: 1279px) {
    .item-wrap {
        height: 180px;
    }
}