.footer_cp {
    font-size: 1rem;
    line-height: 1.37;
    color: #b6bcbf;
}

@media (max-width: 440px) {
    .footer_cp {
        margin-top: 40px;
    }
}

@media (max-width: 767px) {
    .footer_cp {
        flex: 100%;
        order: 1;
        margin-top: 18px;
    }
}