.cards__result-wrap {
    width: 100%;
    height: 230px;
    overflow: hidden;
}

@media (max-width: 449px) {
    .cards__result-wrap {
        height: 196px;
    }
}

@media (max-width: 1279px) {
    .cards__result-wrap {
        height: 180px;
    }
}