.cards__button {
    border: none;
    font-family: 'roboto-regular', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;
    text-decoration: none;
    padding: 20px 84px;
    border-radius: 100px;
    color: #1a1b22;
    background-color: #fff;
    cursor: pointer;
    margin: 0 auto;
}