@import url('./_box/cards_box.css');
@import url('./_item/cards_item.css');
@import url('../info/info.css');
@import url('../item-wrap/item-wrap.css');
@import url('./_button/cards__button.css');
@import url('../button/button.css');
@import url('../link/a.css');
.cards {
    padding: 80px 104px;
    background-color: #f5f6f7;
    position: relative;
    /*display: none*/
}

.cards:before {
    content: "";
    background-color: #f5f6f7;
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: -1;
    top: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

@media all and (max-width: 449px) {
    .cards {
        padding: 32px 16px 44px;
    }
}

@media all and (min-width: 450px) and (max-width: 950px) {
    .cards {
        padding: 40px;
    }
}