.cards_item__description {
    font-family: 'robotoslab';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.37;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 0 18px;
    color: #1a1b22;
}