@import url('__title/search__title.css');
@import url('__subtitle/search__subtitle.css');
@import url('__form/search__form.css');
@import url('../button/button.css');
.search {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 29%;
    z-index: 1;
    position: relative;
}

@media (max-width: 440px) {
    .search {
        padding: 30px 16px 32px;
    }
}

@media all and (min-width: 441px) and (max-width: 550px) {
    .search {
        padding: 40px 13% 48px;
    }
}

@media all and (min-width: 551px) and (max-width: 768px) {
    .search {
        padding: 40px 20.5% 48px;
    }
}

@media all and (min-width: 769px) and (max-width: 950px) {
    .search {
        padding: 80px 25%;
    }
}