@import url('__cp/footer__cp.css');
@import url('__box/footer__box.css');
@import url('__link/footer__link.css');
@import url('__icon/footer__icon.css');
.footer {
    display: flex;
    padding: 25px 76px 25px 104px;
    justify-content: space-between;
}

@media (max-width: 440px) {
    .footer {
        padding: 20px 16px 22px;
    }
}

@media (max-width: 767px) {
    .footer {
        flex-wrap: wrap;
    }
}

@media (max-width: 950px) {
    .footer {
        padding: 24px 12px 24px 40px;
    }
}