.carousel {
  width: 33%;
  margin-right: 10px;
  width: 400px!important;
  min-height: 220px;
  flex-shrink: 0;
  height: 100%;
  position: relative;
  transition-property: transform;
}

@media all and (max-width: 799px){
  .carousel{
      width: 336px !important;
      margin-bottom: 80px;
  }
}

@media all and (max-width: 399px){
  .carousel{
      width: 100% !important;
      margin-bottom: 48px;
  }
}