@import url('../__analytics/content_data__analytics.css');
@import url('../__title/content_data__title.css');
.content_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 650px) {
    .content_data {
        flex-direction: column;
        align-items: flex-start;
    }
}