.chart_grid__date {
    margin: 0;
    width: 104px;
    text-align: start;
    flex-shrink: 0;
    font-family: 'roboto-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    height: 24px;
    display: flex;
    align-items: center;
}