.chart__grid-graph {
    color: #fff;
    background-color: #2f71e5;
    text-indent: 6px;
    min-width: 20px;
    margin-top: 56px;
    height: 24px;
    display: flex;
    align-items: center;
}

.chart__grid-graph:nth-child(2) {
    width: 0;
    margin-top: 44px;
}