@import url('../__date/slip_box__date.css');
@import url('../__info/slip_box__info.css');
@import url('../__text/slip_box__text.css');
.slip_box {
    margin-top: 20px;
    margin: 24px;
}

@media (max-width: 679px) {
    .slip_box {
        margin: 12px 16px 20px;
    }
}