.cards__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 64px 0;
    grid-gap: 16px;
    /*display: none;*/
}

@media (max-width: 500px) {
    .cards__box {
        display: grid;
        grid-template-columns: 1fr;
        margin: 40px 0 12px;
    }
}

@media all and (min-width: 500px) and (max-width: 767px) {
    .cards__box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 40px 0 12px;
    }
}

@media (max-width: 1050px) {
    .cards__box {
        grid-gap: 8px;
        margin: 32px 0;
    }
}