.history__box {
  height: 100%;
  
}
@media (max-width: 440px) {
.history__box {
  width: calc(100% + 32px);
  margin: 0 -16px;
  }
}


@media (max-width: 550px) {
  .history__box {
  width: calc(100% + 80px);
  }
}

@media (max-width: 768px) {
.history__box {
  width: calc(100% + 80px);
  margin: 32px 0 0 -40px;
  }
}